<h1>This is the about page</h1>
<p>this is my first webpage building from scratch, its a really fun experience</p>
<%=image_tag'ruby.jpg'%>


<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'Home',root_path %>
