$navbar-default-bg:  #b3ecff;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size: 1.7em;
  color: #00004d;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
 
}

#logo:hover {
  color:  #3333ff;
  text-decoration: none;
}

.center{
  text-align: center;
}

.jumbotron {
  background-image: asset-url('world-our-hands-map-painted-43575667.jpg');
  background-size: cover;
  height: 750px;
}

articles {
    width: 320px;
    border: 5px solid gray;
    margin: 0;
}

li {
  padding: 25px;
  letter-spacing: 2px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 3.1;
}

.btn-xlarge {
  font-size: -1.0em;
  background-color: #ffe6ff;
}

.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}

.article-title{
  font-weight: normal;
  font-size: 1.5em;
}

.article-body{
  border-top: 1px solid #99e699;
  padding-top: 15px;
  padding-bottom: 15px;
  
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

foort ul li {
  float: left;
  margin-left: 15px;
}
  
  
